
.fondo{
  background-color: #0e2a59;
  background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png') 
}
/* ------------------------------------- FORMULARIO ------------------------------------- */
.control{
  width: 100%;
  background: transparent;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 15px;
  border: 1px solid white;
  font-family: 'calibri';
  font-size: 15px;
  color: white;
}
.controlmenu:hover{
  background: transparent;
  color: black;
}
.form-registrer{
  width: 400px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 30px;
  margin: auto;
  margin-top: 30px;
  border-radius: 7px;
  font-family: 'calibri';
  color: white;
  border: 1px solid white;
}
.form-registrer h4{
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
label{
  font-size: 1.2vw;
  color: white;
}

.links{
  display: inline-block;
  color: rgb(236, 240, 12);
  text-decoration: none;
  line-height: normal;
  font-size: 1.2vw;
  font-weight: bold;
}
.links:hover{
  text-decoration: none;
  background: #3470d4;
  color:#c4cacf;
  border-radius: 5px;
}


/* ------------------------------------------ Eventos ----------------------------------- */
.listwraper{
  display: flex;
}
.centrado{
  text-align: center;
}
.imagenes_evento{
  width: 60vw;
  height: 20vw;
  margin-bottom: 30px;
}
.nota{
  font-weight: bold;
  font-size: 1.2vw;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 13px;
}
.notaEdit{
  color: wheat;
}
.bloque{
  margin: 5px;
}

/* ------------------------------------- Cabecera --------------------------------------------*/

header{
  display: flex;
  width: 100vw;
  overflow: hidden;
  background-color: #040233;
  /*background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png') ;*/
  margin-bottom: 20px;
  
}  

.cabecera{
  justify-content: space-between;
  align-content: space-between;
  width: 90%;
  max-width: 1350px;
  margin: auto;
  overflow: hidden;
  
}

header .logo{
  line-height: 90px;
  float: left;
}

.imglogo{
  width :20vw; 
  height:8vh;
  overflow: hidden;
}

header nav{
  float: right;
  line-height: 100px;
}

.cabeceraLinks{
  display: inline-block;
  color: white;
  text-decoration: none;
  line-height: normal;
  padding: 10px 20px;
  font-size: 1.2vw;
  font-weight: bold;
}

.cabeceraLinks:hover{
  background: #3470d4;
  border-radius: 60px;
  text-decoration: none;
  color: white;
}